.main-container{
   display: flex;
    
}

.gym-content{
  width: 80%;
}

.cart-content{
  width: 20%;
}
@media only screen and (max-width: 600px) {
    .main-container{
     display: block;
     
    
      
    }
    .cart-content{
      width: 100%;
      
    }
  }